{
    "tabWidth": 4,
    "useTabs": false,
    "endOfLine": "lf",
    "semi": true,
    "singleQuote": true,
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "trailingComma": "es5",
    "printWidth": 100
}
